<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>424420274107-i84b907p2j0cfud9vjjb6ndeafn1kv4t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.424420274107-i84b907p2j0cfud9vjjb6ndeafn1kv4t</string>
	<key>API_KEY</key>
	<string>AIzaSyCu-LFFZQroZCENHN2IZwmU3yK8ABXnEJM</string>
	<key>GCM_SENDER_ID</key>
	<string>424420274107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.ackdevelepment.Chat</string>
	<key>PROJECT_ID</key>
	<string>just-chat-69c32</string>
	<key>STORAGE_BUCKET</key>
	<string>just-chat-69c32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:424420274107:ios:9b8c48a0e846fce60f1e9e</string>
</dict>
</plist>